{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}

    <div class="container">

        {% if not object_list %}
            <br>
            <h6>no loaded images</h6>
            <br>

        {%  endif  %}


        {% for image in object_list %}

            <a class="p-2 text-blue" href="{{ image.get_absolute_url}}">{{ image.title }}</a>
            <br>
            <br>

        {% endfor %}

        <a class="p-2 text-blue" href="/image/">Load new image</a>

    </div>


{% endblock %}
